.footer {
  width: 100%;
  background-color: $White;
  @include flexCenter(center);
  position: fixed;
  bottom: 0;

  span {
    font-weight: 500;
    padding: .8rem 0;
    font-size: 10px;

    a {
      color: royalblue;
      text-decoration-style: none;
    }
  }
}